body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: azure;
}


.quem-somos{
    background-color: antiquewhite;
    <!-- color: white; -->
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}